#myHeader {
	background-color: #008080;
	color: white;
	padding: 14px;
	text-align: center;
}
.sidebars {
	background-color: #C2F0F0;
}
#myFooter {
	width: 100%;
	background-color:
	#008080; color: white;
}
#msgToSend {
	max-width: 100%;
}
#theChat {
	height: 320px;
	max-height: 320px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.wrapper {
	min-height: 600px;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 40px; /* .push must be the same height as .footer */
}
ul
{
    list-style-type: none;
}