<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 sidebars">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#/roomlist">Roomlist</a></li>
				<li><a href="#/createroom">Create New Room</a></li>
			</ul>
		</div>
		<div class="col-xs-8">
			<div style="padding: 20px;">
				<div class="row">
					<div class="col-md-6">
						<div class="well well-sm">
							<!-- { room: "the id of the room, undefined if the user is creating a new room",
								   pass: "a room password - not required"} -->
							<form role="form" name="loginForm">
								<div class="form-group">
									<label for="inputName" class="control-label">Username:</label>
									<input type="text" ng-model="username" class="form-control" id="inputName" placeholder="Type your username here" required>
								</div>
								<div class="form-group">
									<button class="btn btn-primary" ng-click="onCreateRoom()" ng-disabled="loginForm.$invalid">Create Room</button>
								</div>
								<div class="animate-hide" ng-show="displayError">
									<div class="alert alert-danger">
										{{errorMessage}}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<h4>You are logged in as: {{username}}</h4>
			<button class="btn btn-primary btn-sm" ng-click="onLogout()">Click to log out</button>
		</div>
	</div>
</div>