<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 sidebars">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#/roomlist">Roomlist</a></li>
				<li><a href="#/private">Private Messages</a></li>
				<li><a href="#/about">About</a></li>
			</ul>
		</div>
		<div class="col-xs-8">
			<div style="padding: 20px;">
				<div class="animate-hide" ng-show="!displayError">
					<div class="row">
						<div class="well well-sm customHeader">
							<h2>{{roomKey}}</h2>
						</div>
						<div class="col-xs-8" style="padding-left: 0px; padding-right: 0px;">
							<div class="well well-sm">
								<form role="form" name="sendMsgForm">
									<div class="form-group">
										<textarea ng-model="msgToSend" class="form-control" id="msgToSend" required>Write your message here...</textarea>
									</div>
								</form>
								<div class="row">
									<div class="col-xs-6">
										<button class="btn btn-success" ng-click="onSendMsg()" ng-disabled="sendMsgForm.$invalid">Send message</button>
									</div>
									<div class="col-xs-6">
										<button class="btn btn-warning pull-right" ng-click="onPartRoom()">Leave Room</button>
									</div>
								</div>
							</div>
							<div class="wrapper">
								<div id="theChat" class="well well-sm">
									<div class="media" ng-model="messages" ng-repeat="msg in messages | orderBy: '-timestamp'">
										<div class="media-body">
											<h4 class="media-heading">{{msg.nick}}<small> - {{msg.timestamp | date:"dd/MM/yyyy 'at' HH:mm"}}</small></h4>
											{{msg.message}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4" style="padding-right: 0px;">
							<div id="usersInRoom" class="well well-sm">
								<h4>Users in room:</h4>
								<ul>
									<li ng-model="listOfOps" ng-repeat="op in listOfOps"><b><a ng-href="#/privatechat/{{op}}">{{op}}</a></b></li>
								</ul>
								<ul>
									<li ng-model="listOfUsers" ng-repeat="user in listOfUsers"><a ng-href="#/privatechat/{{user}}">{{user}}</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="animate-hide" ng-show="displayError">
					<div class="alert alert-danger">
						{{errorMessage}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<h4>You are logged in as:</h4>
			<h3>{{username}}</h3>
			<button class="btn btn-warning btn-sm" ng-click="onLogout()">Click to log out</button>
		</div>
	</div>
</div>