<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2 sidebars">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#/roomlist">Roomlist</a></li>
				<li><a href="#/private">Private Messages</a></li>
				<li><a href="#/about">About</a></li>
			</ul>
		</div>
		<div class="col-xs-8">
			<div style="padding: 20px;">
				<div class="col-xs-6">
					<div class="well">
						<div class="customHeader">
							<h2>Logged in users:</h2>
						</div>
						<table class="table table-bordered table-hover table-condensed">
							<tbody>
								<tr ng-model="listOfUsers" ng-repeat="user in listOfUsers" ng-if="user !== username">
									<td><a ng-href="#/privatechat/{{user}}">{{user}}</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="well">
						<div class="customHeader">
							<h2>Active chats:</h2>
						</div>
						<table class="table table-bordered table-hover table-condensed">
							<tbody>
								<tr ng-model="listOfActiveChats" ng-repeat="aUser in listOfActiveChats">
									<td><a ng-href="#/privatechat/{{aUser}}">{{aUser}}</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<h4>You are logged in as:</h4>
			<h3>{{username}}</h3>
			<button class="btn btn-warning btn-sm" ng-click="onLogout()">Click to log out</button>
		</div>
	</div>
</div>